/* ----------- MAKE IT GO BACKWARDS ----------- */
body {
	 direction: rtl;
	 unicode-bidi: embed;
}

/*****************************************************
 REUSABLE STYLES
******************************************************/
.react-flt-right {
	float: left;
}
/*Loading*/
.react-loading {
	float: right;
	margin-right: 10px;
}
/* Buttons */
.react-button {
	float: right;
	margin: 1px 3px 1px 7px;
}
button.react-button {
	margin: 4px 0 0 5px;
}
.react-op-head {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.react-op-head a, .react-op-head-title {
	float: right;
	border-left: none;
	border-right: 1px solid #e9e9e9;
}
.react-op-head-title {
	border-radius: 0 3px 3px 0;
}
.react-op-head a:last-child,
.react-op-head a.last-child {
	border-right: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
}
.react-op-head a:first-child,
.react-op-head a.first-child {
	border-right: none;
}
.react-im-delete-cwa, .react-delete-custom-palette {
	right: auto;
	left: 10px;
}
/*****************************************************
 THEME OPTIONS PANEL
******************************************************/
/*MAIN LAYOUT*/
.react-wrap {
	background: #3e3e3e url(../images/left-nav-bg.png) repeat-y right top;
}
.react-panel-logo {
	-webkit-box-shadow: 3px 1px 10px 0px rgba(0, 0, 0, 0.05), inset 0px 0px 20px 0px rgba(255, 255, 255, 0.6), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.9);
	box-shadow: 3px 1px 10px 0px rgba(0, 0, 0, 0.05), inset 0px 0px 20px 0px rgba(255, 255, 255, 0.6), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.9);
}
.react-header-right {
	padding-right: 205px;
	padding-left: 0;
}
.react-header-right-top-bar {
	right: 10px;
	margin-right: 0;
}
.react-logo-wrap:hover .react-panel-logo {background-position: 300px center;}
.react-header-right-top-bar .react-copy-info > p {
	padding: 5px 10px 0 0;
	float: right;
}
.react-copy-info {
	float: right;
}

ul.react-tc-menu li {
	float: right;
}
ul.react-tc-menu li a {
	float: right;
}
ul.react-tc-menu li a span {
	left: 0;
	right: auto;
}
.react-header-right-bottom-bar {
	border-left: 1px solid #d9d9d9;
}
.react-header-right-bottom-bar > h2 {
	padding: 25px 20px 0 0;
	float: right;
}
.react-top-save-button-wrap {
	float: left;
}
.react-panel-left {
	float: right;
	right: 0;
	left: auto;
}
.react-panel-right {
	margin-right: 105px;
	margin-left: 0;
}

p.react-no-script span {
	background: url(../images/warning.png) no-repeat right center;
	padding: 14px 60px 14px 10px;
}
p.react-warning {
	padding-left: 10px;
	padding-right: 40px;
	background: #FEEFB3 url(../images/warning-icon.png) no-repeat 99% center;
}
.react-sucess-message > p {
	background: url(../images/icons/saved.png) no-repeat right center;
	padding-left: 0;
	padding-right: 30px;
}
/* OP Tabs */
#react-tabs {
	margin-right: 100px;
	margin-left: 0;
	background: #fff url(../images/fff-one-px.png) repeat-x right top;
}


.react-sub-tabs-nav > li.react-current > span {
	margin-right: 0;
	margin-left: -1px;
}
/*OP Sub Nav*/
.react-sub-tabs-wrap {
	float: right;
	left: auto;
	right: 0;
}
.react-table-tabs-nav > li {
	float: right;
}
.react-table-tabs-nav > li > span {
	margin:  8px -1px 0 0;
	border-right-color: #ddd;
	border-left-color: #fff;
}
.react-table-tabs-nav > li:last-child > span {
	border-right-color: #ddd;
	border-left-color: #ddd;
	border-radius: 3px 0 0 0;
}
.react-table-tabs-nav > li:first-child > span {
	border-radius: 0 3px 0 0;
	margin-right: 0;
	margin-left: ;
}
/* OP Actions panel */
.react-buttons {
	padding: 8px 0 8px 20px;
	margin-left: 0;
	margin-right: 100px;
	border-left: 1px solid #BEBEBE;
	border-right: none 0;
}
.react-media-button {
	float: right;
}
.react-uploaded-image {
	float: right;
	margin: 5px 0 5px 10px;
}
.react-lightbox table label {
	float: right;
	text-align: right;
}
#react-background-caption-save {
	float: left;
}
#react-background-caption-cancel {
	float: right;
}
/*OP Logo*/
#general_logo_upload_holder .react-uploaded-image.react-logo,
#general_logo_double_upload_holder .react-uploaded-image.react-logo-double,
#general_logo_alternative_upload_holder .react-uploaded-image.react-logo,
#general_logo_alternative_double_upload_holder .react-uploaded-image.react-logo-double,
#footer_logo_upload_holder .react-uploaded-image.react-logo-footer,
#footer_logo_double_upload_holder .react-uploaded-image.react-footer-logo-double {
	float: right;
}
/*Saved confirmation*/
.react-save {
	float: left;
}
.react-top-save-button-wrap .react-save.react-button {
	margin: 0 0 0 15px;
}
.react-reset-options, #react-reset-translations {
	float: right;
	padding-left: 5px;
	padding-right: 5px;
}
a#react-reset-options {margin-right: 0; margin-left: ;}
.react-save > span {
	background: url(../images/icons/save.png) no-repeat right center;
	padding-right: 25px;
	padding-left: 10px;
	float: right;
}
.react-reset-options > span, #react-reset-translations > span {
	background: url(../images/icons/reset.png) no-repeat right center;
	padding-right: 25px;
	padding-left: 10px;
	float: right;
}
.react-save.react-button.react-save-saving {
	text-indent: 99999px;
}








#react-options-saved {
	left: 0;
	right: auto;
	text-align: right;
}
#react-options-saved > span {
	border-right: 8px solid #85c14b;
	border-left: 0 none;
	padding: 20px 85px 20px 5px;
	float: right;
}
#react-options-saved > span span.react-save-icon {
	float: right;
	left: 0;
	right: 10px;
}









.react-fixed {
	left: 0;
	right: auto;
}
.react-fixed.react-fixed-buttons .react-save,
.react-fixed.react-fixed-buttons .react-save span,
.react-save.react-button.react-save-saved {
	border-left-style: none;
	border-right-style: solid;
	border-radius: 0 3px 3px 0;
}
.react-background-video-width {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}
.react-background-video-height {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
#react-start-export, #react-start-import {
	margin-left: 0;
	margin-right: 3px;
}
/*Audio & background groups*/
#react-add-audio-track-button {
	margin-left: ;
	margin-right: 0;
}
.react-audio-track-name,
.react-background-group-name {
	padding-right: 10px;
	padding-left: 100px;
}

.react-audio-track-name-inner,
.react-background-group-name-inner {
  background: url(../images/icons/headphones.png) no-repeat right 0;
  padding-left: 0;
  padding-right: 35px;
  margin-right: 10px;
}
.react-background-group-name-inner {
  background: url(../images/icons/grouped-images.png) no-repeat right 0;
}
.react-drag-audio-track {
	right: auto;
	left: 65px;
	background: url(../images/icons/music-move.png) no-repeat left top;
}
.react-drag-audio-track:hover {
	background: url(../images/icons/music-move1.png) no-repeat left top;
}
.react-delete-audio-track,
.react-delete-background-group {
	right: auto;
	left: 5px;
	background: url(../images/icons/music-delete.png) no-repeat right top;
}
.react-delete-audio-track:hover,
.react-delete-background-group:hover {
	background: url(../images/icons/music-delete1.png) no-repeat right top;
}
.react-edit-audio-track,
.react-edit-background-group {
	right: auto;
	left: 35px;
	background: url(../images/icons/music-edit.png) no-repeat right top;
}
.react-edit-audio-track:hover,
.react-edit-background-group:hover,
.react-open.react-edit-audio-track,
.react-open.react-edit-background-group {
	background: url(../images/icons/music-edit1.png) no-repeat right top;
}
table.react-audio-track-settings tr th {
	text-align: right;
}
table.react-audio-track-settings tr td.react-audio-input {
	padding-right: 0;
	padding-left: 20px;
}
table.react-audio-track-settings tr td.react-audio-upload-button {
	text-align: left;
}
table.react-audio-track-settings tr td.react-audio-upload-button .react-upload-audio-track-button-wrap {
	float: left;
}
.react-audio-format-url-td {
	padding-right: 0;
	padding-left: 5px;
}

/** Layout selector - CONSOLIDATE THIS! **/
.react-select-active:after {
	right: auto;
	left: 5px;
}
.react-layout-selector {
	margin-right: 0;
	margin-left: -20px;
}
.react-layout-selector > div {
	float: right;
	margin: 0 0 5px 5px;
}
/** Texture selector **/
.react-texture-selector {
	margin-right: 0;
	margin-left: -20px;
}
.react-texture-selector > div {
	float: right;
	margin: 0 0 8px 8px;
}
/** Texture selector **/
.react-detail-selector {
	margin-right: 0;
	margin-left: -20px;
}
.react-detail-selector > div {
	float: right;
	margin: 0 0 8px 8px;
}
/** Page layout selector **/
.react-page-layout-selector {
	margin-right: 0;
	margin-left: -20px;
}
.react-page-layout-selector > div {
	float: right;
	margin: 0 0 5px 5px;
}
/** Icon selector **/
.react-icon-selector > div {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}
.react-icon-selector-current > .react-chosen-icon {
	float: right;
	margin: 8px 5px 5px 10px;
}
.react-icon-selector-current .react-choose-no-icon {
	float: right;
	border-left: 0 none #eee;
	border-right: 1px solid #eee;
	margin: 7px 5px 0 0;
	padding-left: 0;
	padding-right: 5px;
}
/** Top head type selector **/
.react-header-tophead-type-selector {
	margin-right: 0;
	margin-left: -20px;
}
.react-header-tophead-type-selector > div {
	float: right;
	margin: 0 0 5px 5px;
}

/** Social icon type selector **/
.react-social_icon_type-selector {
	margin-right: 0;
	margin-left: -20px;
}
.react-social_icon_type-selector > div {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}
/** Background repeat selector **/
.react-bg-repeat-selector {
	margin-right: ;
	margin-left: 0;
}
.react-bg-repeat-selector > div {
	float: right;
}

/*****************************************************
	 META BOX FIELD
******************************************************/
.react-meta-box-field-label  {
	left: auto;
	right: 0;
}
.react-meta-box-field-label h4 {
	padding: 13px 10px 0 30px;
}
.react-meta-box-field-inner {
	padding: 1px 168px 5px 0;
}
/*****************************************************
	 GLOBAL TABLES
******************************************************/

.react-welcome-hide a.react-button {
	float: left;
}
.react-welcome-hide {
	padding: 2px 15px 2px 5px
}
.react-welcome-hide:after {
	right: 242px;
	left: auto;
}
/* Main tables */
.react-settings-open .react-form-table td {
	border-right: 1px solid;
	border-left: none;
}
.react-form-table th {
	text-align: right;
}
.react-element-settings-inner .react-form-table td {
	border-right: 1px solid;
	border-left: none;
}
.react-mini-label .react-tip-icon {
	margin: 0 6px 0 0;
}
.react-meta-box-field-label .react-tooltip-wrap {
	left: auto;
	right: 145px;
}
.react-settings-sub-head th label {
	float: right;
}
tr.react-content-row td.react-form-table-input-area-td {
	border-left: 0 none;
	border-right: 1px solid #d7d7d7;
}
tr.react-content-row.react-no-desc td.react-form-table-input-area-td {
	border-right:  1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
}
tr.react-content-row td.react-form-table-input-area-td.react-form-table-one-td {
	border-right:   1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
}
.react-form-table:hover tr.react-content-row td.react-form-table-input-area-td {
	border-left: 0 none;
	border-right: 1px solid #94b9c3;
}
.react-form-table:hover tr.react-content-row.react-no-desc td.react-form-table-input-area-td {
	border-right: 1px solid #94b9c3;
	border-left: 1px solid #94b9c3;
}
.react-form-table:hover tr.react-content-row td.react-form-table-input-area-td.react-form-table-one-td {
	border-right: 1px solid #94b9c3;
	border-left: 1px solid #94b9c3;
}
tr.react-content-row td.react-form-table-desc-td {
	border-right: 0 none;
	border-left: 1px solid #d7d7d7;
}
tr.react-content-row .react-multi-input-wrap {
	padding-right: 0;
	padding-left: 10px;
}
.react-form-table:hover tr.react-content-row td.react-form-table-desc-td {
	border-right: 0 none ;
	border-left: 1px solid #94b9c3;
}
tr.react-content-row td.react-form-table-logo-image-td {
	border-right: 0 none ;
	border-left: 1px solid #d7d7d7;
}
.react-form-table:hover tr.react-content-row td.react-form-table-logo-image-td {
	border-right: 0 none ;
	border-left: 1px solid #94b9c3;
}
/*Uploaded images*/
.react-upload-holder-left {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
/*Translation table*/
.react-form-table tr.react-content-row td.react-translation-table-area-td {
	border-left: 1px solid #d7d7d7;
}
.react-form-table:hover tr.react-content-row td.react-translation-table-area-td {
	border-left: 1px solid #94b9c3;
}
.react-translations-translation-th label,
.react-translations-default-th label {
	float: right;
	padding: 8px 0 2px 7px;
}
a#react-reset-translations {margin-left: 0; margin-right: 2px;}
.react-color-indicator {
	margin-left: 0;
	margin-right: 2px;
}
.react-color-indicator:after {
	right: auto;
	left: 29px;
}
.react-filter-output > div {
	float: left;
}
/*****************************************************
 Color Schemes
******************************************************/
a.react-color-scheme.react-scheme {
	margin: 2px 0 5px 5px;
}
.ts-button-wrap {
	margin: 0 0 5px 5px;
	float: right;
}
/*****************************************************
 RANGE SLIDER STYLES
******************************************************/
.jslider {
	float: right;
	margin: 10px 0 0 20px;
}
/*TOGGLE / ACCORDION*/
.react-accordion > .react-accordion-trigger span.react-acc-icon {
	padding: 4px 0 0 10px;
	background: url(../images/acc-ico-down.png) no-repeat right center;
}
.react-accordion > .react-accordion-trigger.react-panel-section-header {
	padding-left: 0;
	padding-right: 11px;
}
.react-accordion > h3.active span.acc-icon {background: url(../images/acc-ico-up.png) no-repeat right center;}

.react-im-sort-one {
	margin-right: 0;
	margin-left: 5px;
}
.react-accordion > .react-accordion-trigger span.react-acc-icon {
	padding: 4px 0 0 10px;
	background: url(../images/acc-ico-down.png) no-repeat right center;
}
.react-accordion > .react-accordion-trigger.react-panel-section-header {
	padding-left: 0; padding-right: 11px;
}
/* Color palettes and add widget area*/
.react-react-custom-palette-name-wrap input[type=text], .react-cwa-name-wrap input[type=text] {
	margin: 2px 0 2px 25px;
}

.react-add-custom-palette-description, .react-add-cwa-description {
	margin: 3px 10px 3px 0;
}
.react-add-custom-palette-description:after, .react-add-cwa-description:after {
	right: auto;
	left: 100%;
	border-right-color: transparent;
	border-left-color: #eee;
}
/*Submit button wrap*/
.iphorm-outer .iphorm-submit-input-wrap {
	float: right; /*You might want this right. Change loading icon wrap below too*/
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 899px) {
	.react-panel-right {
		margin-left: 0;
		margin-right: 55px;
	}
	#react-tabs, .react-buttons {
		margin-left: 0;
		margin-right: 50px;
	}
	.react-sub-tabs-nav > li > span,
	.react-sub-tabs-nav > li.react-current > span,
	#react-tabs-nav > li.react-current > span,
	#react-tabs-nav > li > span {
		text-indent: 99999px;
	}
	tr.react-content-row td.react-form-table-desc-td:hover .react-warning {
		padding: 10px 60px 10px 10px;
	}

}
